#include "game.rh"
FGPARTY DIALOGEX 0,0,438,238
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Party - heroes and reserve"
FONT 9,"Segoe UI"
BEGIN
    LISTBOX GPLIST,10,10,155,159,LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP | WS_BORDER
    COMBOBOX GPCLASS,10,176,100,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "Add",GPADD,115,176,50,16
    CONTROL "",GPPORTRAIT,"Static",SS_OWNERDRAW,178,10,35,35
    LTEXT "Hero name",-1,221,10,140,12
    EDITTEXT GPNAME,221,25,202,16,ES_AUTOHSCROLL
    LTEXT "WS",-1,178,56,30,12
    LTEXT "BS",-1,228,56,30,12
    LTEXT "S",-1,278,56,30,12
    LTEXT "T",-1,328,56,30,12
    LTEXT "Sp",-1,378,56,30,12
    EDITTEXT 310,178,70,40,16,ES_NUMBER
    EDITTEXT 311,228,70,40,16,ES_NUMBER
    EDITTEXT 312,278,70,40,16,ES_NUMBER
    EDITTEXT 313,328,70,40,16,ES_NUMBER
    EDITTEXT 314,378,70,40,16,ES_NUMBER
    LTEXT "Br",-1,178,94,30,12
    LTEXT "Int",-1,228,94,30,12
    LTEXT "Max W",-1,278,94,43,12
    LTEXT "PV",-1,328,94,30,12
    LTEXT "Fate",-1,378,94,30,12
    EDITTEXT 315,178,108,40,16,ES_NUMBER
    EDITTEXT 316,228,108,40,16,ES_NUMBER
    EDITTEXT 317,278,108,40,16,ES_NUMBER
    EDITTEXT 318,328,108,40,16,ES_NUMBER
    EDITTEXT GPFATE,378,108,40,16,ES_NUMBER
    LTEXT "Current Wounds",-1,178,138,90,12
    EDITTEXT GPWOUNDS,278,134,40,16,ES_NUMBER
    PUSHBUTTON "Apply",GPAPPLY,328,134,90,17
    PUSHBUTTON "Place / Move",GPMOVE,178,171,113,20
    PUSHBUTTON "To reserve",GPRESERVE,301,171,117,20
    LTEXT "Editable starting suggestions. No class rules are enforced.",-1,10,201,320,12
    LTEXT "",GPSTATUS,10,218,330,12
    DEFPUSHBUTTON "Close",IDOK,353,212,70,18
END
