/*
 * GEM resource RC output of grafic
 *
 * created by ORCS 2.09
 */

#include <windows.h>
#include "grafic.rh"

PASSAGEN BITMAP "passagen.bmp"
PASSAGES BITMAP "passages.bmp"
PASSAGEE BITMAP "passagee.bmp"
PASSAGEW BITMAP "passagew.bmp"
DEADENDN BITMAP "deadendn.bmp"
DEADENDS BITMAP "deadends.bmp"
DEADENDE BITMAP "deadende.bmp"
DEADENDW BITMAP "deadendw.bmp"
LARGEN BITMAP "largen.bmp"
LARGES BITMAP "larges.bmp"
LARGEE BITMAP "largee.bmp"
LARGEW BITMAP "largew.bmp"
QUESTN BITMAP "questn.bmp"
QUESTS BITMAP "quests.bmp"
QUESTE BITMAP "queste.bmp"
QUESTW BITMAP "questw.bmp"
LAIRN BITMAP "lairn.bmp"
LAIRS BITMAP "lairs.bmp"
LAIRE BITMAP "laire.bmp"
LAIRW BITMAP "lairw.bmp"
NORMALN BITMAP "normaln.bmp"
NORMALS BITMAP "normals.bmp"
NORMALE BITMAP "normale.bmp"
NORMALW BITMAP "normalw.bmp"
HAZARDN BITMAP "hazardn.bmp"
HAZARDS BITMAP "hazards.bmp"
HAZARDE BITMAP "hazarde.bmp"
HAZARDW BITMAP "hazardw.bmp"
CORNERN BITMAP "cornern.bmp"
CORNERS BITMAP "corners.bmp"
CORNERE BITMAP "cornere.bmp"
CORNERW BITMAP "cornerw.bmp"
TJUNCTN BITMAP "tjunctn.bmp"
TJUNCTS BITMAP "tjuncts.bmp"
TJUNCTE BITMAP "tjuncte.bmp"
TJUNCTW BITMAP "tjunctw.bmp"
LTURNN BITMAP "lturnn.bmp"
LTURNS BITMAP "lturns.bmp"
LTURNE BITMAP "lturne.bmp"
LTURNW BITMAP "lturnw.bmp"
RTURNN BITMAP "rturnn.bmp"
RTURNS BITMAP "rturns.bmp"
RTURNE BITMAP "rturne.bmp"
RTURNW BITMAP "rturnw.bmp"
STOUTN BITMAP "stoutn.bmp"
STOUTS BITMAP "stouts.bmp"
STOUTE BITMAP "stoute.bmp"
STOUTW BITMAP "stoutw.bmp"
STDOWNN BITMAP "stdownn.bmp"
STDOWNS BITMAP "stdowns.bmp"
STDOWNE BITMAP "stdowne.bmp"
STDOWMW BITMAP "stdowmw.bmp"
DOORN BITMAP "doorn.bmp"
DOORS BITMAP "doors.bmp"
DOORE BITMAP "doore.bmp"
DOORW BITMAP "doorw.bmp"
SECRETN BITMAP "secretn.bmp"
SECRETS BITMAP "secrets.bmp"
SECRETE BITMAP "secrete.bmp"
SECRETW BITMAP "secretw.bmp"
TESTN BITMAP "testn.bmp"
TESTS BITMAP "tests.bmp"
TESTE BITMAP "teste.bmp"
TESTW BITMAP "testw.bmp"
MERSCHAN BITMAP "merschan.bmp"
MERSCHAS BITMAP "merschas.bmp"
MERSCHAW BITMAP "merschaw.bmp"
MERSCHAE BITMAP "merschae.bmp"
BRIDGEN BITMAP "bridgen.bmp"
BRIDGES BITMAP "bridges.bmp"
BRIDGEE BITMAP "bridgee.bmp"
BRIDGEW BITMAP "bridgew.bmp"
CHASMN BITMAP "chasmn.bmp"
CHASMS BITMAP "chasms.bmp"
CHASME BITMAP "chasme.bmp"
CHASMW BITMAP "chasmw.bmp"
POOLN BITMAP "pooln.bmp"
POOLS BITMAP "pools.bmp"
POOLE BITMAP "poole.bmp"
POOLW BITMAP "poolw.bmp"
GRATEN BITMAP "graten.bmp"
GRATES BITMAP "grates.bmp"
GRATEE BITMAP "gratee.bmp"
GRATEW BITMAP "gratew.bmp"
CIRCLEN BITMAP "circlen.bmp"
CIRCLES BITMAP "circles.bmp"
CIRCLEE BITMAP "circlee.bmp"
CIRCLEW BITMAP "circlew.bmp"
BBLACK BITMAP "bblack.bmp"
BWHITE BITMAP "bwhite.bmp"
BGRAY BITMAP "bgray.bmp"
BSQUARE BITMAP "bsquare.bmp"
TRAPN BITMAP "trapn.bmp"
TRAPS BITMAP "traps.bmp"
TRAPE BITMAP "trape.bmp"
TRAPW BITMAP "trapw.bmp"
THRONEN BITMAP "thronen.bmp"
THRONES BITMAP "thrones.bmp"
THRONEE BITMAP "thronee.bmp"
THRONEW BITMAP "thronew.bmp"
MUSHN BITMAP "mushn.bmp"
MUSHS BITMAP "mushs.bmp"
MUSHE BITMAP "mushe.bmp"
MUSHW BITMAP "mushw.bmp"
MOULDN BITMAP "mouldn.bmp"
MOULDS BITMAP "moulds.bmp"
MOULDE BITMAP "moulde.bmp"
MOULDW BITMAP "mouldw.bmp"
RATN BITMAP "ratn.bmp"
RATS BITMAP "rats.bmp"
RATE BITMAP "rate.bmp"
RATW BITMAP "ratw.bmp"
BATN BITMAP "batn.bmp"
BATS BITMAP "bats.bmp"
BATE BITMAP "bate.bmp"
BATW BITMAP "batw.bmp"
STATUEN BITMAP "statuen.bmp"
STATUES BITMAP "statues.bmp"
STATUEE BITMAP "statuee.bmp"
STATUEW BITMAP "statuew.bmp"
ROCKN BITMAP "rockn.bmp"
ROCKS BITMAP "rocks.bmp"
ROCKE BITMAP "rocke.bmp"
ROCKW BITMAP "rockw.bmp"
SLIMEN BITMAP "slimen.bmp"
SLIMEE BITMAP "slimee.bmp"
SLIMEW BITMAP "slimew.bmp"
SLIMES BITMAP "slimes.bmp"
CESSPITN BITMAP "cesspitn.bmp"
CESSPITS BITMAP "cesspits.bmp"
CESSPITE BITMAP "cesspite.bmp"
CESSPITW BITMAP "cesspitw.bmp"
WELLN BITMAP "welln.bmp"
WELLS BITMAP "wells.bmp"
WELLE BITMAP "welle.bmp"
WELLW BITMAP "wellw.bmp"
MOTHN BITMAP "mothn.bmp"
MOTHS BITMAP "moths.bmp"
MOTHE BITMAP "mothe.bmp"
MOTHW BITMAP "mothw.bmp"
APPARIN BITMAP "apparin.bmp"
APPARIS BITMAP "apparis.bmp"
APPARIE BITMAP "apparie.bmp"
APPARIW BITMAP "appariw.bmp"
CHESTN BITMAP "chestn.bmp"
CHESTS BITMAP "chests.bmp"
CHESTE BITMAP "cheste.bmp"
CHESTW BITMAP "chestw.bmp"
STCHESTN BITMAP "stchestn.bmp"
STCHESTS BITMAP "stchests.bmp"
STCHESTE BITMAP "stcheste.bmp"
STCHESTW BITMAP "stchestw.bmp"
WEAPONSN BITMAP "weaponsn.bmp"
WEAPONSS BITMAP "weaponss.bmp"
WEAPONSE BITMAP "weaponse.bmp"
WEAPONSW BITMAP "weaponsw.bmp"
BOARDN BITMAP "boardn.bmp"
BORADS BITMAP "borads.bmp"
BOARDE BITMAP "boarde.bmp"
BOARDW BITMAP "boardw.bmp"
TABLEN BITMAP "tablen.bmp"
TABLES BITMAP "tables.bmp"
TABLEE BITMAP "tablee.bmp"
TABLEW BITMAP "tablew.bmp"
FIREN BITMAP "firen.bmp"
FIRES BITMAP "fires.bmp"
FIREE BITMAP "firee.bmp"
FIREW BITMAP "firew.bmp"
CASEN BITMAP "casen.bmp"
CASES BITMAP "cases.bmp"
CASEE BITMAP "casee.bmp"
CASEW BITMAP "casew.bmp"
RACKN BITMAP "rackn.bmp"
RACKS BITMAP "racks.bmp"
RACKE BITMAP "racke.bmp"
RACKW BITMAP "rackw.bmp"
BIGN BITMAP "bign.bmp"
BIGS BITMAP "bigs.bmp"
BIGE BITMAP "bige.bmp"
BIGW BITMAP "bigw.bmp"
TOMBN BITMAP "tombn.bmp"
TOMBS BITMAP "tombs.bmp"
TOMBE BITMAP "tombe.bmp"
TOMBW BITMAP "tombw.bmp"
BIGTOMBN BITMAP "bigtombn.bmp"
BIGTOMBS BITMAP "bigtombs.bmp"
BIGTOMBE BITMAP "bigtombe.bmp"
BIGTOMBW BITMAP "bigtombw.bmp"
Z0 BITMAP "z0.bmp"
Z1 BITMAP "z1.bmp"
Z2 BITMAP "z2.bmp"
Z3 BITMAP "z3.bmp"
Z4 BITMAP "z4.bmp"
Z5 BITMAP "z5.bmp"
Z6 BITMAP "z6.bmp"
Z7 BITMAP "z7.bmp"
Z8 BITMAP "z8.bmp"
Z9 BITMAP "z9.bmp"
QUEST3N BITMAP "quest3n.bmp"
QUEST3S BITMAP "quest3s.bmp"
QUEST3E BITMAP "quest3e.bmp"
QUEST3W BITMAP "quest3w.bmp"
FBOOKN BITMAP "fbookn.bmp"
FBOOKS BITMAP "fbooks.bmp"
FBOOKE BITMAP "fbooke.bmp"
FBOOKW BITMAP "fbookw.bmp"

